
  <h1> <%=   @cocktail.name %> </h1>

  <% @cocktail.doses.each do |dose| %>
  <h3> <%= dose.ingredient.name %> </h3>
  <h4> <%= dose.description %> </h3>
  <% end %>


 <%= link_to "back to index", cocktails_path %>


 <%= link_to "add new doses", new_cocktail_dose_path(@cocktail) %>
